body{
    height: 500px;
   background-image: linear-gradient(to right,#55d7e5 , #8f2aea);
}

form{
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin-top: 150px;
    border-radius: 10px;
}

input{
    width: 330px;
    height: 40px;
    padding-left: 15px;
    border-radius: 8px;
    border: none;
    border: 2px solid #Efefef;
    margin-top: 30px;
}

button{
    width: 345px;
    height: 40px;
    background-image: linear-gradient(to right,#55d7e5 , #8f2aea);
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
}