img{
  margin-left: 500px;
  width: 400px;
  height: 400px;
  border-radius: 50px;
  margin-top: 100px;
}

h1{
  margin-left: 650px;
}

button{
  padding: 10px 40px;
  font-size: 20px;
  background-color: blueviolet;
  color: aliceblue;
  font-weight: bold;
  border-radius: 20px;
  margin-left: 20px;
}

button:hover{
  background-color: brown;
}

#left{
  margin-left: 470px;
}