body{
    background-color: #1C2833;
    color: #fff;
}

form{
    width: 500px;
    height: 470px;
    border: 1px solid;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 100px;
}

input{
    width: 430px;
    height: 40px;
    padding-left: 20px;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
    margin-top: 10px;
}

button{
    width: 450px;
    height: 40px;
    cursor: pointer;
    margin-top: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #fff;
}