.form{
  width: 500px;
  height: 450px;
  border: 2px solid #E8E8E8;
  margin-top: 30px;
  border-radius: 10px;
}

p{
  margin-top: 20px;
  text-align: left;
  padding-left: 25px;
  font-size: 18px;
}

input{
  width: 460px;
  height: 50px;
  padding-left: 10px;
  margin-top: 20px;
  border-radius: 8px;
  border: 2px solid #E8E8E8;
}

#add{
  width: 460px;
  height: 50px;
  border: none;
  margin-top: 30px;
  border-radius: 8px;
}

table{
  cursor: pointer;
}

.table-width{
  width: 60%;
  border: 1px solid #E8E8E8;
  margin-left: 20%;
}

#edit{
  border: none;
}

#del{
  border: none;
}