*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body{
  background-color:#a18aff;
}

#Todo{
  margin-top: 130px;
  overflow: auto;
  width: 600px;
  height: 450px;
  background: rgba( 255, 255, 255, 0.35 );
backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

b{
  margin-top: 20px;
  font-size: 30px;
}

input{
  margin-top: 20px;
  width: 350px;
  height: 40px;
  padding-left:20px;
  color: #777;
 border: none;
 border-radius: 7px;
}

button{
  margin-left: 10px;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
}

span{
  font-size: 15px;
  margin-top: 10px;
}

p{
  font-size: 15px;
  width: 550px;
  padding-top: 5px;
  border-radius: 7px;
  height: 40px;
  background-color: #fff;
  font-size: 20px;
  margin-top: 15px;
  text-align: left;
  padding-left: 20px;
  text-transform: capitalize;
}